@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    box-sizing: border-box; /* padding-top を height に含める */
    /* transform: translateZ(0); */
    overflow: hidden;
}

#root {
    /* body の padding-top (48px) で押し下げられた位置を基準にする */
    position: relative;
    height: 100%;
    overflow: hidden;
}


